<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>
<body>
  <!-- Main Content -->
  <main>
    <article>
      <div class="content">
        {{ content }}
      </div>
    </article>
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; jasper jasper jasper </p>
  </footer>

  <script src="{{ '/assets/scripts.js' | relative_url }}"></script>
</body>
</html>
